<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%-5p][%d{MM/dd/yyyy HH:mm:ss,SSS}][%c#%M:%L] %m %n"/>
        </layout>
    </appender>
    <appender name="FlatFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="file" value="/logs/hadoop"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%-5p][%d{MM/dd/yyyy HH:mm:ss,SSS}][%c#%M:%L] %m %n"/>
        </layout>
    </appender>

    <logger name="org.antczak.hadoop">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <root>
        <level value="WARN"/>
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="FlatFileAppender"/>
    </root>
</log4j:configuration>
